/* .App {
  font-family: sans-serif;
  text-align: center;
} */
.weather-app-wrapper {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid rgb(116, 111, 111);
  border-radius: 10px;
  background-image: url(https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80);
  background-size: cover;
  background-blend-mode: darken;
  border-radius: 10px;
}
.overview {
  margin-bottom: 20px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: rgb(118, 112, 112);
  font-size: 18px;
  font-weight: 100px;
  line-height: 18px;
}
li:first-letter {
  text-transform: capitalize;
}
.properties {
  text-align: right;
  line-height: 20px;
}
.weather-temperature strong {
  font-size: 42px;
  line-height: 1;
  color: rgb(97, 92, 92);
}
.weather-temperature img {
  height: 50px;
  margin-right: 8px;
  margin-left: 0px;
  margin-top: -20px;
  padding: 0px;
  width: 50px;
}
.weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: -18px;
  left: 5px;
}
.weather-forecast {
  margin-top: 25px;
  text-align: center;
}
.weather-forecast-day {
  font-size: 18px;
  color: rgb(118, 112, 112);
  opacity: 0.8;
}
.weather-forecast-temperatures {
  font-size: 15px;
  color: rgb(104, 99, 99);
}
.weather-forecast-min {
  opacity: 0.5;
}
